<div>
  <h1>Oops. 404 - Not found</h1>
  <hr></hr>
  <p>The page you were looking for could not be found.</p>
  <p><strong>Url:</strong> <%- url %></p>
  <p><strong>Method:</strong> <%- method %></p>
</div>
