<div>
  <h1>Oops. 500 - Internal Error</h1>
  <hr></hr>
  <p>A problem occurred. Here is what happend:</p>
  <p><strong>Url:</strong> <%- url %></p>
  <p><strong>Stack:</strong> <%- details %></p>
</div>
