/*
	******
	Table classes
	******
*/
.pageview-table{
	background-color: #16A79D;
	/*zoom: 1.2;*/
	padding-top: 50px;
	padding-bottom: 80px;
}

.pageview-table .scores-board{
	-webkit-box-shadow: 0 0px 30px -10px #000;
			box-shadow: 0 0px 30px -10px #000;
	/*-webkit-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;*/
	/*z-index: 2;*/
}
.pageview-table .scores-board table{
	/*-webkit-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;*/
}

.pageview-table .table-pages td{
	font-weight: bold !important;
	font-size: 120%;
}