<div class="pull-right">
	<!-- Delete -->
	<button class="btn-page-destroy btn btn-xs btn-danger" href="#">
		<span class="glyphicon glyphicon-trash"></span> Remove
	</button>

</div>

<h3 class="label label-warning panel-title">{{title}}</h3> 
<!-- <small>{{resume}}</small> -->
Duration: <span class="label label-info page-still" data-name="still"></span> 
<!-- <span class="label label-default page-disabled" data-name="disabled"></span> -->
<button type="button" class="page-disabled btn btn-xs" data-toggle="button"></button>
