<!-- <div class="match pt-page"> -->
	
	<!-- FLAGS -->
	<div class="flag-3d flag-3d-left">
		<img class="flag" src="/flags/4x3/br.svg"/>
	</div>

	<div class="flag-3d flag-3d-right">
		<img class="flag" src="/flags/4x3/us.svg"/>
	</div>

	<!-- HEADER -->
	<div class="field-top shadow-md">
		<div class="field-title"></div>
		<div class="field"></div>
	</div>
	<!-- <div class="group-name title-top-xs shadow-md">
		
	</div> -->
	<div class="timer title-top-lg shadow-lg">
		
	</div>

	<!-- TEAMS and SCORES-->
	<div class="team left">
		<div class="team-score-container"><span class="team-score">-</span></div>
		<div class="team-name-container"><div class="team-name"></div></div>
	</div>

	<div class="team right">
		<div class="team-score-container"><span class="team-score">-</span></div>
		<div class="team-name-container"><div class="team-name"></div></div>
	</div>
<!-- </div>