<!-- <div class="list-group"> -->
  <!-- <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a> -->

	<div class="list-group-item">
		<a href="#" target="_blank" class="btn-live-edit btn btn-xs btn-info pull-right"><span class="glyphicon glyphicon-play"></span> Open live match controller</a>
		
		<span class="list-group-item-heading h5">Soccer Match: <span class="config-match"></span></span>


	</div>

<!-- </div> -->