<!-- <div class="list-group-item">
	<img src="#" height="100px" class="pull-right img-thumbnail"/>
	<h5 class="list-group-item-heading">Upload Image: <input type="file" class="upload-file"></h5>
</div>

<div class="list-group-item">
	<h5 class="list-group-item-heading">Size: <span class="config-size"></span></h5>
	<small class="text-muted">You can choose the size of the image. Leave it empty to be automatic.</small>
</div> -->


<div class="col-md-6">
	<dl class="dl-horizontal">
		
		<!-- File-->
		<dt>Image file:</dt>
		<dd>
			<input type="file" class="upload-file">
		</dd>

		<!-- Size of image -->
		<dt>Image size:</dt>
		<dd>
			<span class="config-size"></span>
		</dd>

	</dl>
</div>

<div class="col-md-6">
	<img src="#" style="height: 150px;" class="pull-right img-thumbnail"/>
</div>