<div class="col-md-6">
	<dl class="dl-horizontal">
		
		<!-- Type-->
		<dt>Message type:</dt>
		<dd>
			<span class="config-type"></span>
		</dd>

		<!-- Size-->
		<dt>Message Size:</dt>
		<dd>
			<span class="config-size"></span>
		</dd>

		<!-- Align-->
		<dt>Align:</dt>
		<dd>
			<span class="config-align"></span>
		</dd>

	</dl>

</div>

<div class="col-md-6">
	<h4>Message <small>Use markdown syntax. <a target="_blank" href="https://help.github.com/articles/markdown-basics">Read more here</a></small></h4>
	<textarea class="form-control config-text" data-provide="markdown" rows="8"></textarea>
</div>