
<!-- <div class="row"> -->

	<div class="col-md-12 scores-board board">
		<div class="board-heading heading-lg heading-orange">
			<span class="h2 table-title">{{title}}</span>
		</div>

		<div class="board-heading heading-orange">

			<div class="pull-right dotstyle dotstyle-scaleup">
				<ul class="page-indicator">
				</ul>
			</div>

			<span class="h3 table-subtitle">{{subtitle}}</span>

		</div>


		<!-- <table class="table-bordered table-pretty table-orange">
			
		</table> -->
	</div>
	<div class="col-md-12 table-pages pt-perspective" style="height: 100%;">
	</div>
<!-- </div> -->