<!-- <div class="list-group"> -->
  <!-- <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a> -->

	<div class="list-group-item">
		<h5 class="list-group-item-heading">Group to show: <span class="config-tables"></span></h5>
		<small class="text-muted">Select a group that you want to show, created in <a href="/groups/manage">Groups Module</a>.</small>
	</div>

	<div class="list-group-item">
		<h5 class="list-group-item-heading">Rows on data table: <span class="config-rows"></span></h5>
		<small class="text-muted">We will paginate the table for you. How many rows do you want? Leave empty to adapt.</small>
	</div>

	<div class="list-group-item">
		<h5 class="list-group-item-heading">Duration of paginated table: <span class="config-still"></span></h5>
		<small class="text-muted">How long will a single slide still? Leave it empty to be Automatic</small>
	</div>
<!-- </div> -->